<%= form_with(model: @blog, local: true, url: new_or_edit) do |form| %>

  <% if @blog.errors.any? %>
    <div class="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul> 
    </div>
  <% end %>


<div class="card" style="width: 18rem;">
    <%= image_tag(@blog.image.url, class:"card-img-top") if @blog.image && @blog.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  

  <div class="card-body">
    <h5 class="card-title">コメント</h5>
    <p class="card-text"><%= @blog.content %></p>
  </div>

  <div class="card-body">
    <a><%#<%= link_to '編集', edit_blog_path(blog.id), class:"card-link" %></a>
  </div>
</div>


  <br>

  <%= form.submit '投稿' %>

  <br>

  <%= link_to '投稿の一覧へ', blogs_path %>

<% end %>