<h2>投稿確認画面</h2>

<%= form_with(model: @blog, local: true, url: blogs_path ) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <div class="card" style="width: 18rem;">
    <% if @blog.image.url.present? %>
      <%= image_tag @blog.image.url, class:"card-img-top" %>
    <% else %>
      <%= image_tag 'noimage.png', class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="card-text">【コメント】<%= @blog.content%></p>
      <%= form.submit "登録する", class:"card-link" %>
      <%= form.submit "戻る", name: 'back', class:"card-link" %>
    </div>
  </div>
<% end %>
