<h1>投稿の一覧</h1>

<%= link_to '新規投稿', new_blog_path, class:'btn btn-info' %>

<% @blogs.each do |blog| %>
  <div class="card" style="width: 18rem;">
    <% if blog.image.present? %>
      <%= image_tag blog.image.url, class:"card-img-top" %>
    <% else %>
      <%= image_tag 'noimage.png'%>
    <% end %>

    <div class="card-body">
      <h5 class="card-title">コメント</h5>
      <p class="card-text"><%= blog.content %></p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">【投稿者】<%= image_tag blog.user.icon_image.to_s, size:'50x50' %><%= blog.user.name %></li>
      <li class="list-group-item"><%=link_to '詳細', blog_path(blog.id) %></li>
    </ul>

    <div class="card-body">
      <% if blog.user == current_user %>
        <a><%= link_to '編集', edit_blog_path(blog.id), class:"card-link btn btn-primary" %></a>
        <a><%= link_to '削除', blog_path(blog.id), method: :delete, data:{confirm:'本当に削除しても良いですか？'}, class:"card-link btn btn-danger"%></a>
      <% else %>
        <a></a>
        <a></a>
      <% end %>
    </div>
  </div>
<% end %> 

<%= link_to '新規投稿', new_blog_path, class:'btn btn-info' %>