<h1>Create my account</h1>

<%= form_with(model: @user, local:true) do |f| %>
  <%= f.lavel :user_name %>
  <%= f.text_field :name %>

  <%= f.lavel :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirm %>
  <%= f.password_field :password_confirm %>

  <%= f.lavel :photo %>
  <%= f.file_field :image_photo%>

  <%= f.submit "Create my account" %>
<% end %>
